form{
  line-height: 20px;
}

input{
  margin-bottom: 10px;
}

select{
  margin-bottom: 10px;
}

#teste_import {
	background-color: white;
}

body {
	background-color: lightblue;
}

input.horizontal{
	display: inline;
}

input.center{
	margin-right: auto;
	margin-left: auto;
}


form.center{
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}

#botao-voltar{
	float:right;
}

#botao-salvar{

  float:right;
  bottom: 10px;
}

#tabela.center{
	height: 500px;
	width: auto;
	overflow-x: auto;
  overflow-y: auto;
	background-color: white;
	font-size: 11px;
	font-family: Arial;
	border-radius: 1px;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
  clear:both;
  float:inherit;;
}
.tablewrap table{
  float: left;
  display: inline-table;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
}


th{
	background-color: AliceBlue;
	font-style: bold;
	font-size: 12px;
}

h1{
	font-family: Arial;
	color:white;
	text-shadow: 2px 2px 10px gray;
	text-align: center;
}

#menu-login{
  font-family: Arial;
  color:black;
  text-align: center;
}

body{
	font-family: Arial;
	font-size: 14px;
}

#box{
	/*margin-left: 30px;
	margin-right: 30px;*/
	padding: 15px;
	padding-bottom: 20px;
	background-color: LightSteelBlue;
	border-radius: 20px;
	position: relative;
}

input[type="button"]{
	background-color: SteelBlue;
	color:white;
	font-style: bold;
	font-family: Arial;
	border-radius: 20px;
	padding: 10px;*/
	font-size: 14px;
	border-width: 0px;
}

fieldset{
  padding: 30px;
  border-radius: 20px;
}

legend{
  font-size: 16pt;
  font-style: bold;
}

input[type="button"]:disabled {
  background-color: gray;
}

form#cadastrarUsuario{
  width:40%;
  margin:0 auto; 
  padding-right:10%; 
  text-align: right;
}

#menu-funcao{
	/*display: inline-block;*/
	text-align: center;
	width:40%;
	margin: 0 auto;
}

#spinner {
 display: none;   
}

#blocoa{
	background-color: white;
	border-color: darkblue;
	border-width: 10px;
}

* {box-sizing:border-box}

/* Slideshow container */
.conteiner {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
    display: none;
    background-color: white;
    padding: 30px;
    border-radius: 20px; 
    display: none;
    margin: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 30px;
  width: 30px;
  margin: 0 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
  color:#717171;
  font-style: bold;
}

.active, .dot:hover {
  background-color: #717171;
  text-align: center;
  color: white;
  font-style: bold;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.oculto{
	display: none;
}

.gravar{
  font-size: 16pt;
  font-style: bold;
  float: right;
  margin-bottom: 50px;
}

#validar,#salvar{
  background-color: SteelBlue;
  color:white;
  font-style: bold;
  font-family: Arial;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border-width: 0px;
  float: right;
}

#graduacao{
  position: relative;
}

#addBlock{
  position: absolute;
  bottom: 0;
  right: 1;
}
.block{
  margin: 5px;
  border-color: gray;
  border-width: 5px;
}

svg{
  background-color: white;
  padding: 10px;
}

rect{
  text-align: center;
  color: white;
}

.grafico{
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.grafico div {
  height: 50px;
  font-size: 14pt ;
  font-style: bold;
  text-align: right;
  padding: 5px;
  margin: 10px;
}

#relatorio{
  font-size: 16pt;
  color: white;
}

.boxRelatorio{
  border-radius: 20px;
  background-color: LightSlateGrey;
  padding: 20px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}